#browser-check, #cookiesaccept, #onetrust-consent-sdk { display: none!important; }
.main_navigation_wrapper {height: auto!important;} /* Fix issue for ysl_beauty / mobile version */
.optanon-alert-box-wrapper{ display:none !important;}
